<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
body{
    
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* banner style */
.banner-contant{
    width: 1320px;
    /* border: 2px solid red; */
    min-height: 600px;
    margin: 0px auto;
    margin-top: 30px;
    background-image: url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.banner-text{
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.banner-contant p{
    font-size: 32px;
    font-weight: 400;
}
.banner-contant h1{
    font-size: 72px;
    font-weight: 900;
}
.title{
    
    width: 802.9px;
    height: 806px;
    margin: 0px auto;
    /* border: 2px solid red; */
    margin-top: 90px;
}
.title-contant h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
text-align: center;

}
.title-contant p{
    color: rgb(255, 0, 0);
/* font-family: Inter; */
font-size: 22px;
font-weight: 400;
text-align: center;
margin-top: 48px;
}
.title-contant h3{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 16;
}
.image {
    width: 802.9px;
   height: 500px;
   margin-top: 48px;
}
/* party content */
.party-content{
    width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    background-image: url("../images/Vectorrr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 120px;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: overlay;

}
.party-colum{
    width: 70%;
    height: 600px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(0, 0, 0, 0.7) ; */
    /* background-blend-mode: overlay; */
}
.party-colum h1{
    font-size: 64px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.party-colum p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 180px;
    margin-top: 24px;

}
.party-colum1{
    width: 50%;
    height: 600px;
    /* border: 2px solid red; */

}
.party-btn{
    font-size: 20px;
font-weight: 700;
color: rgb(255, 255, 255);
margin-top: 50px;
padding-right: 330px;
}
.party-colum1{
 display: flex;
 justify-content: center;
 align-items: center;

}
.party-colum1 img{
    width: 349.16px;
   height: 464.65px;
}
/* holiday style */
.holiday-section{
    width: 1320px;
height: 986.07px;
/* border: 2px solid red ; */
margin: 0px auto;
margin-top: 120px;
position: relative;
}
.holiday-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}
.holiday-text h5{
    font-size: 24px;
font-weight: 500;
color: rgb(7, 2, 17);
}
.holiday-text h1{
    font-size: 72px;
font-weight: 900;
color: rgb(7, 2, 17);
margin-top: 16px;
}
.holiday-text p{
    font-size: 20px;
font-weight: 500;
color: rgba(7, 2, 17, 0.6);
margin-top: 28px;
}
#holiday{
    color: rgb(255, 0, 0);
}
.solid-color{
    width: 1320px;
height: 229px;
background-color: rgb(255, 0, 0);
position: absolute;
top: 77%;
}
.gift-box{
    width: 674.82px;
height: 577.96px;
position: relative;
z-index: 1;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 105px;
}
.discount{
    position: absolute;
    bottom: 35%;
    left: 68%;
    width: 305.69px;
height: 305.69px;
}
.protfolio-content{
    width: 1320px;
height: 1163px;
border: 2px solid red;
margin: 0 auto;
margin-top: 120px;
}
/* protfolio style */
.protfolio-text h5{
    color: rgb(255, 0, 0);
    font-size: 24px;
font-weight: 50px;

}
.protfolio-text h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 12px;
}
.protfolio-text p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 16px;
}
.protfolio-item{
    width: 424px;
height: 450px;
margin-top: 48px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 24px;
}